SFTP_HOST=example.com
SFTP_PORT=22
SFTP_USER=username
SSH_KEY_PATH=~/.ssh/id_rsa
#SSH_KEY_PATH=C:\keys\id_rsa

REMOTE_INBOUND_DIR=/inbound
REMOTE_OUTBOUND_DIR=/outbound


PGP_PUBLIC_KEY_PATH=keys/public.asc
PGP_PRIVATE_KEY_PATH=keys/private.asc
PGP_PASSPHRASE=secret

WORK_DIR=work
